/* 公用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  min-height: 100vh;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0;
}
.layout {
  max-width: 640px;
  margin: 0 auto;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: middle;
}
h3,
h4 {
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
input {
  outline: none;
  border: none;
}
/* input 占位符字体颜色 */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
/* 超出两行省略 */
.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* header */
.dyys_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  z-index: 999;
}
.dyys_header .dyys_icon {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.dyys_header .dyys_icon .icon_pic {
  margin-right: 10px;
}
.dyys_header .dyys_icon .icon_pic > img {
  width: 34px;
  height: auto;
}
.dyys_header .dyys_icon .icon_txt {
  font-size: 18px;
  line-height: 1em;
  color: #f9f8f7;
}
.dyys_header .nav_menu .btn_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.dyys_header .nav_menu .btn_menu > img {
  width: 20px;
  height: auto;
}
/* footer */
.dyys_footer {
  position: relative;
  padding-top: 28px;
  height: 113px;
  background-color: #000000;
}
.dyys_footer .nav_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.dyys_footer .nav_tabs .nav_tab {
  display: flex;
  align-items: center;
}
.dyys_footer .nav_tabs .nav_tab .aLink {
  color: #fff;
}
.dyys_footer .nav_tabs .nav_tab:not(:last-child)::after {
  content: "";
  display: block;
  margin: 0 5px;
  width: 1px;
  height: 10px;
  background-color: #c5c5c5;
}
.dyys_footer .copyright {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  transform: scale(0.84);
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}
.dyys_footer .copyright > p > a {
  color: rgba(255, 255, 255, 0.5);
}
.dyys_footer .wavy_line {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 2.5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* aside_menu */
.aside_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 160px;
  height: 100vh;
  background-color: #000000;
  z-index: 1000;
  display: none;
}
.aside_menu .btn_close {
  height: 50px;
}
.aside_menu .btn_close .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.aside_menu .btn_close .btn > img {
  width: 20px;
  height: auto;
}
.aside_menu .nav_tabs .nav_tab {
  position: relative;
}
.aside_menu .nav_tabs .nav_tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.aside_menu .nav_tabs .nav_tab:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.aside_menu .nav_tabs .nav_tab > a {
  position: relative;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  padding: 0 13px;
  color: #fff;
}
.aside_menu .nav_tabs .nav_tab .btn_open {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
.aside_menu .nav_tabs .nav_tab .btn_open > img {
  width: 16px;
  height: auto;
}
.aside_menu .nav_tabs .nav_tab .series_list {
  display: none;
  background-color: #fff;
}
.aside_menu .nav_tabs .nav_tab .series_list .series {
  position: relative;
}
.aside_menu .nav_tabs .nav_tab .series_list .series > a {
  padding: 0 13px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #333333;
}
.aside_menu .nav_tabs .nav_tab .series_list .series:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(61, 25, 5, 0.2);
}
.aside_menu .nav_tabs .active > a {
  color: #fcd2c0;
}
